<!DOCTYPE html>
<html>

<head>
    <title>Benny Bite</title>
</head>

<body>
    Reset Password
    <script>
        function getUrlParameter(name) {
            if(!name) return ''
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
        var token = getUrlParameter('token')
        window.location.replace("foodevent://ResetPassword/" + token);
    </script>
</body>

</html>